---
layout: default
class: home
---
<header class="Intro">
  <div class="Intro-brand">
    <object data="img/taal_header2.png">
      <img src="img/fla_logo.png" alt="Taal" width="300px">
    </object>
    <!--<span class="animated fadeIn">
        <span class="Intro-beta">Taalservice Limburg</span>
    </span> -->
  </div>

  <div class="animated fadeIn">
    
    <h2>Voor al uw taalprojecten</h2>
    <p>Efficiënt, accuraat & betrokken</p>
    <!--<div id="typed-strings">
        <p>^1000 indepe</p>
        <p><strong>Snel, accuraat & betrokken</strong></p>
    </div> -->
    <span id="typed"></span>
    <br>
    Taalservice Limburg voor
    <div id="typed2-strings">
        <p>^2000 <strong>lesgeven & coachen</strong> ^1300</p>
        <p><strong>vertalen</strong></p>
    </div>
    <span id="typed2"></span>

    <div class="Intro-actions">
      <a href="{{ site.baseurl }}#coaching" class="Button">Lesgeven</a>
      <a href="{{ site.baseurl }}#vertalen" class="Button">Vertalen</a>
      <a href="{{ site.baseurl }}#mail" class="Button">Social Info</a>
    </div>
  </div>
</header>

<div class="animated fadeUp">
  <figure class="Home-screenshot">
    <!--<img src="{{ site.baseurl }}/img/screenshot_1.png" alt="" width="1151"> -->
  </figure>

  <div class="Features" id="builds">
    
    <div class="Features-text">
        <i class="fa fa-quote-left"></i><b>Mijn motto is: ik doe wat ik zeg en ik zeg wat ik doe</b> <i class="fa fa-quote-right"></i></code>
    </div>
    
    <!--<iframe width="640" height="360" src="https://www.youtube.com/embed/qo4WUmB60mU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
    <img src="{{ site.baseurl }}/img/frank.jpg" alt="" width="450">
    
  </div>

  {% include coaching.html %}
  
  {% include vertalen.html %}
  
  {% include home_sponsors.html %}
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<!-- typing -->
<script src="js/typed.js"></script>
<script>
  $(function(){
        $("#typed").typed({
            stringsElement: $('#typed-strings')
        });
    });
</script>
<script>
  $(function(){
        $("#typed2").typed({
            stringsElement: $('#typed2-strings')
        });
    });
</script>
