<aside class="Docs-nav">
  {% for section in site.data.blog %}
  <h4>{{ section.title }}</h4>
  {% assign items = section.blog %}

  <ul>
  {% for item in items %}
    {% assign item_url = item | prepend:"/blog/" | append:"/" %}

    {% if item_url == "/blog//" %}
      {% assign item_url = "/blog/" %}
    {% endif %}

    {% if item_url == page.url %}
      {% assign c = "current" %}
    {% else %}
      {% assign c = "" %}
    {% endif %}

    {% for p in site.blog %}
      {% if p.url == item_url %}
        <li class="{{ c }}"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></li>
        {% break %}
      {% endif %}
    {% endfor %}

  {% endfor %}
  </ul>

  {% endfor %}
</aside>
