<div class="KCP-sponsors" id="mail">

  <p class="KCP-text"><a href="mailto:frank@taalservicelimburg.nl?subject=Info via de site"><i class="fa fa-envelope" style="none"></i> frank@taalservicelimburg.nl</a></p>
  <p class="KCP-text"><i class="fa fa-phone fa-2x"></i> +31 (0) 475 - 594993 &nbsp;&nbsp;&nbsp;<i class="fa fa-mobile fa-2x"></i> +31 (0) 6 - 30352006</p>

  <div class="KCP-actions">
    <a href="https://www.facebook.com/taalservicelimburg/" target="blank"" class="Button">Vind me leuk op Facebook</a>
    <a href="https://www.facebook.com/taalservicelimburg/" target="blank"" class="Button">Volg me zakelijk via LinkedIn</a>
    <a href="https://www.facebook.com/taalservicelimburg/" class="Button">Bekijk mijn video’s op YouTube</a>
  </div>
</div>
