<div class="KCP">
  <div class="KCP-members">
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/diensten/vertaalt/">
          <h3><i class="fa fa-language fa-3x"></i></h3>
          Taalservice Limburg vertaalt
        </a>
      </h3>
    </div>
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/diensten/coacht/">
          <h3><i class="fa fa-university fa-3x"></i></h3>
          Taalservice Limburg coacht
        </a>
      </h3>
    </div>
  </div>
</div>
