<div class="KCP">
  <div class="KCP-members">
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/diensten">
          <h3><i class="fa fa-language fa-3x"></i></h3>
          Taalservice Limburg vertaalt
        </a>
      </h3>
    </div>

    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/diensten">
          <h3><i class="fa  fa-text-height fa-3x"></i></h3>
          Taalservice Limburg reviseert
        </a>
      </h3>
    </div>
    <div class="screens-member">
      <h3>
        <a href="{{ site.baseurl }}/diensten">
          <h3><i class="fa fa-microphone fa-3x"></i></h3>
          Taalservice Limburg transcribeert
        </a>
      </h3>
    </div>
  </div>

  <!--<p class="KCP-text">
   Visit the Gallery page for screenshots, video showcase and insructitional videos.
  </p>

  <div class="KCP-actions">
    <a href="{{ site.baseurl }}/pages/gallery" class="Button">Gallery</a>
  </div> -->
</div>
