<aside class="Docs-nav">
  <!--<h4>Frank van der Schuren - Taalprofessional</h4>-->

  <h4>Email</h4>
  <ul style="none">
    <li><a href="mailto:frank@taalservicelimburg.nl?subject=Info via de site">frank@taalservicelimburg.nl</a></li>
  </ul>
  
  <h4>Telefoon</h4>
  
  <ul style="none">
    <li>+31 (0) 475 - 594993</li>
  </ul>
  
  <h4>Mobiel</h4>
  
  <ul style="none">
    <li>+31 (0) 6 - 30352006</li> 
  </ul>
  
  <h4>Adres</h4>
  
  <ul style="none">
    <li>Peter Schreursweg 15</li>
    <li>6081 NX  Haelen</li>
    <li>The Netherlands</li>
  </ul>
    
  <h4>KvK</h4>
  
  <ul style="none">
    <li>59388560</li>
  </ul>
  
  <h4>Btw</h4>
  
  <ul style="none">
    <li>NL 023199465B01</li>
  </ul>

</aside>
