<div class="Actions" id="vertalen">
  <h3>
    <a href="{{ site.baseurl }}/diensten/vertaalt/">
      <h3><i class="fa fa-language fa-3x"></i></h3>
      Taalservice Limburg – vertalingen
    </a>
  </h3>
  <div class="container">
    <div class="Actions-item">
      <h5><i class="fas fa-question fa-2x"></i> Waarom?</h5>
      Een professionele eerste indruk zorgt voor een betrouwbaar imago. Daarom zijn levendige, foutloze vertalingen zo belangrijk. Denk bijvoorbeeld maar eens aan websites, offertes of handleidingen. Met mijn bedrijf, Taalservice Limburg, help ik u om een krachtige boodschap uit te dragen en draag ik bij aan uw succes.</p>
    </div>

    <div class="Actions-item">
      <h5><i class="fas fa-cogs fa-2x"></i> Hoe?</h5>
      <p>Door een grote betrokkenheid bij al mijn projecten. Ik durf kritische vragen te
      stellen om teksten zo goed mogelijk tot hun recht te laten komen en schroom
      niet om bij vertalingen kanttekeningen te plaatsen bij de brontekst en
      verbetervoorstellen te doen. Ik streef naar goede wederzijdse communicatie en
      houd van oprecht samenwerken.</a></p>
    </div>

    <div class="Actions-item">
      <h5><i class="fas fa-pencil-alt fa-2x"></i> Wat?</h5>
      <p>Ik lever vertalingen van het Engels naar het Nederlands. Ik richt me met name op
      commerciële teksten, waarbij een heldere, krachtige boodschap de lezer moet
      verleiden. Maar ook voor andere onderwerpen of aanvullende taaldiensten kunt
      u bij mij terecht.</p>
      <h3>Helder</h3>
    </div>
  </div>
</div>
